<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BYGallery - God's Office</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="distribution" content="global" />
    <meta name="robots" content="noindex">
    <meta name="description" content="God office of BYG." />
    <meta name="content" content="Beyond Your Gallery web application." />
    <link href="http://beyondyourgallery.com/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="css/material/material.css" >
    <link rel="stylesheet" href="css/toolkit/toolkit.min.css" >
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/god.css">
    <link rel="stylesheet" href="css/god.errors.css">
    <link rel="stylesheet" href="css/god.control.css">
    <link rel="stylesheet" href="css/font_awesome/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <div class="gallery_loading">
      <h1>The God Office is loading. It might take a few minutes.</h1>
      <label class="loading_feedbacks_label" id="session_loading_feedbacks"></label>
      <label class="loading_feedbacks_label" id="error_loading_feedbacks"></label>
      <label class="loading_feedbacks_label" id="control_loading_feedbacks"></label>
      <div class="loader"><div>
    <div>
<!--##################### ADMINISTRATION #####################-->
    <script type="text/x-handlebars" data-template-name="main">
      <div class="admin_menu">
        {{#link-to 'god_home_unlogged'}}<div class="god_menuLink" id="god_backHome" title="Main page">Home</div>{{/link-to}}
        <div class="god_loginForm">
            <table style="width:100%">
              <td>{{input class="admin_input" type="text" name="usernameoremail" pattern= "[a-z0-9]{2,50}" valueBinding="usernameoremail" placeholder="Login or Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Login or Email'"}}</td>
              <td>{{input class="admin_input" type="password" name="password" pattern= "{2,50}" valueBinding="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'"}}</td>
              <td><button class="admin_logButton" {{action "launch_identification" usernameoremail password target="controllers.login"}}>Login</button></td>
            </table>
        </div>
      </div>
      <div id="wrapper">
        {{outlet}}
      </div>
    </script>
    <script type="text/x-handlebars" data-template-name="god_home_unlogged">
      <div id="page_welcome">
        <div id="page_welcome_title">
          <h2>God&#39;s Office</h2>
          <h1 style="font-weight: bold;">Where you can manage anything from anywhere...</h1>
        </div>
        <div id="page_welcome_content">
          <h2>What&#39;s in it?</h2>
        </div>
      </div>
    </script>
    <script type="text/x-handlebars" data-template-name="god_home">
      <div class="admin_menu">
        {{#link-to 'god_home'}}<div id="admin_backHome" title="Main page"></div>{{/link-to}}
        {{#link-to 'god_error'}}<div class="admin_menuLink" id="link_errors" title="System errors report">Errors</div>{{/link-to}}
        {{#link-to 'god_control'}}<div class="admin_menuLink" id="link_control" title="Application control">Control</div>{{/link-to}}
        <div class="admin_loginForm">
          <table style="width:100%">
            <tr>
              <td><input type="text" class='admin_input' name="logged_gallery" value="{{unbound storage_session.gallery_name}}" readonly="true"></td>
              <td><input type="text" class='admin_input' name="logged_username" value="Logged as {{unbound storage_session.username}}" readonly="true"></td>
              <td><button class="admin_logButton" {{action "logout" target="controllers.login"}}>Logout</button></td>
            </tr>
          </table>
        </div>
      </div>
      <div id="wrapper">
        {{outlet}}
      </div>
      <div class="veil" id="god_report_bug"></div>
    </script>
    <script type="text/x-handlebars" data-template-name="god_error">
    <section id="god_errors">
      {{input type='text' value=filter placeholder='Gallery name'}}
        <span {{action 'sortBy' 'nId'}}>Username</span>
        <span {{action 'sortBy' 'name'}}>Gallery name</span>
        <span {{action 'sortBy' 'continent'}}>Time</span>
        <span {{action 'sortBy' 'population'}}>Source file</span>
      <ul class="accordion" id="accordion-errors" role="tablist">
        {{#each filteredContent}}
        <li>
          <header class="accordion-header is-active" data-accordion-header="" role="tab" id="toolkit-accordion-errors-header-{{unbound id}}" aria-controls="toolkit-accordion-errors-section-{{unbound id}}" aria-selected="true" aria-expanded="true">
            <h4>Error #{{reference}}</h4>
            <h5><i>{{time}}</i></h5>
          </header>
          <section class="accordion-section hide" data-accordion-section="" role="tabpanel" id="toolkit-accordion-errors-section-{{unbound id}}" aria-labelledby="toolkit-accordion-errors-header-{{unbound id}}" aria-hidden="true">
            <div class="accordion-body">
              <h6><em>{{username}}&#39;s session ({{gallery_name}})</em> - from <span style="color: #C11728">{{source_file}}</span></h6>
              <div class="god_errors">
                  <div class="god_element">
                    <div class="god_error">
                      <label>#{{reference}}</label>
                      <p><i>{{time}}</i></p>
                      <p>[{{message}}]</p>
                    </div>
                  </div>
                </div>
              <p></p>
            </div>
          </section>
        </li>
        {{else}}
          <label>No errors</label>
        {{/each}}
      </ul>
    </section>
    </script>
    <script type="text/x-handlebars" data-template-name="god_control">
    <section id="god_control">
      {{#each control in model}}
      Frame section enable:
        {{#if control.frame_section_on}}
          <input id="checkbox_frame_section_enable" type="checkbox" name="checkbox" checked>
        {{else}}
          <input id="checkbox_frame_section_enable" type="checkbox" name="checkbox">
        {{/if}}
      Artworks tag enable:
        {{#if control.artworks_tag_on}}
          <input id="checkbox_artworks_tag_enable" type="checkbox" name="checkbox" checked>
        {{else}}
          <input id="checkbox_artworks_tag_enable" type="checkbox" name="checkbox">
        {{/if}}
      {{else}}
        No control properties
      {{/each}}
    </section>
    </script>
    <script type="text/javascript" src="../libs/jquery-1.9.1.min.js"></script>
    <script src="../libs/toolkit.min.js"></script>
    <script src="../libs/material.min.js"></script>

    <script type="text/javascript" src="../libs/handlebars-v1.3.0.js"></script>
    <script type="text/javascript" src="../libs/ember-v1.6.1.js"></script>
    <script type="text/javascript" src="../libs/ember-data.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/router.js"></script>
    <script type="text/javascript" src="js/crud.js"></script>
    <script type="text/javascript" src="js/god.js"></script>
    <script type="text/javascript" src="js/models.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/views.js"></script>
    <script type="text/javascript">
      //var server = location.protocol + '//' + location.hostname;
      //window.onbeforeunload = function() { return "You are about to leave"}
    </script>
  </body>
</html>
