<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BYGallery - Showroom</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="distribution" content="global" />
    <meta name="googlebot" content="noindex, nofollow, noimageclick" />
    <meta name="robots" content="noindex, nofollow, noimageclick" />
    <meta name="description" content="Beyond Your Gallery is a web application allowing you to virtually export your real-life gallery. You can bring your artworks anywhere anytime to show potential new customers art pieces from a previous exhibition or the current one." />
    <meta name="content" content="Beyond Your Gallery web application." />
    <link href="http://beyondyourgallery.com/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/gallery.home.css">
    <link rel="stylesheet" href="css/gallery.artists.css">
    <link rel="stylesheet" href="css/gallery.artworks.css">
    <link rel="stylesheet" href="css/gallery.frame.css">
    <link rel="stylesheet" href="css/owl_carousel/owl.carousel_artists.css">
    <link rel="stylesheet" href="css/owl_carousel/owl.carousel_artworks.css">
    <link rel="stylesheet" href="css/font_awesome/font-awesome.min.css">
  </head>
  <body>
    <div class="gallery_loading">
      <h1>Your Showroom is loading. It might take a few minutes.</h1>
      <label class="loading_feedbacks_label" id="session_loading_feedbacks"></label>
      <label class="loading_feedbacks_label" id="artists_loading_feedbacks"></label>
      <label class="loading_feedbacks_label" id="artworks_loading_feedbacks"></label>
      <label class="loading_feedbacks_label" id="settings_loading_feedbacks"></label>
      <div class="loader"><div>
    <div>
    <script type="text/x-handlebars" data-template-name="gallery_home">
    <section id="gallery_home">
        <div class="gallery" id="home_control">
          <div class="arrow" id="goTop"></div>
          <div id="toDo"></div>
          <div class="arrow" id="goDown"></div>
        </div>
        <div class="gallery" id="home_menu">
          <div class="sep-home" id="leftSep"></div>
          <div class="gallery" id="menu">
            <div class="gallery_menu_item" id="artists"></div>
            <div class="gallery_menu_item" id="artist"></div>
            <div class="gallery_menu_item" id="frameit"></div>
          </div>
          <div class="sep-home" id="rightSep"></div>
        </div>
        <div class="gallery" id="home_countdown"></div>
        <div class="gallery" id="home_selection">
        {{#each setting in model}}
          {{#if setting.currentArtwork}}
            {{#if setting.currentArtwork.imgPath}}
            <div class="gallery_home_overview_panel">
              <img class="gallery_home_overview" id="{{unbound setting.currentArtwork.id}}" {{bind-attr src=setting.currentArtwork.imgPath}} onload="resize_homeSelection_img(this.width,this.height)" alt="Overview - {{unbound setting.currentArtwork.img}}" />
            </div>
            {{else}}
              No artwork img
            {{/if}}
          {{else}}
            {{#if setting.currentArtist}}
              {{#if setting.currentArtist.imgPath}}
              <div class="gallery_home_overview_panel">
                <img class="gallery_home_overview" id="{{unbound setting.currentArtist.id}}" {{bind-attr src=setting.currentArtist.imgPath}} onload="resize_homeSelection_img(this.width,this.height)" alt="Overview - {{unbound setting.currentArtist.img}}" />
              </div>
              {{else}}
                No artist img
              {{/if}}
            {{else}}
              Nothing selected yet
            {{/if}}
          {{/if}}    
        {{/each}}
        </div>
    </section>
    </script>
    <script type="text/x-handlebars" data-template-name="gallery_artists">
        <div class="gallery" id="artists_control_trigger"></div>
        <div class="gallery" id="artists_info">
          <div class="artists_arrow" id="artists_goLeft"></div>
          <div class="gallery_artists" id="carousel_bullets"></div>
          <div class="artists_arrow" id="artists_goRight"></div>
        </div>
        <div class="gallery" id="artists_info_trigger"></div>
      <section id="gallery_artists">
        <div class="gallery" id="artists_view">
          <div id="carouselToClean_artists">
            {{#if this}}
              <div class="artist_item" id="0">
                <img class="artist" src="img/all-artists.svg" title="All artists" alt="All artists" />
                <div class="artists_description">
                <div class="artists_description_title_element">
                  <h2>All</h2>
                </div>
                <div class="artists_description_title_element">
                  <p>Gallery&#39;s artists</p>
                </div>
                </div>
                <div class="artists_number">All</div>
              </div>
            {{/if}}
            {{#each artist in model}}
              <div class="artist_item" id="{{unbound artist.id}}">
                <!-- <img class="artist" id="{{unbound artist.id}}" src="img/no-img.svg" title="{{unbound artist.name}}" alt="{{unbound artist.name}}" /> -->
                <img class="artist" id="{{unbound artist.id}}" src="" title="{{unbound artist.name}}" alt="{{unbound artist.name}}" />
                <div class="artists_description">
                  <div class="artists_description_title_element">
                    <h2>{{artist.name}}</h2>
                  </div>
                  <div class="artists_description_title_element">
                    <p>from {{artist.location}}</p>
                  </div>
                </div>
                <div class="artists_number">{{index_1}}/{{last}}</div>
              </div>
            {{else}}
              <div class="artist_item">
                <img class="artist" src="img/no-artist.svg" alt="" />
              </div>
            {{/each}}
          </div>
        </div>
      </section>
    </script>
    <script type="text/x-handlebars" data-template-name="gallery_artist">
      <div class="gallery" id="artworks_control_trigger"></div>
      <div class="gallery" id="artworks_info">
        <div class="artworks_arrow" id="artworks_goLeft"></div>
          <div class="artwork_info">
            <div class="artwork_info_other">
              <div class="gallery_artworks" id="carousel_bullets"></div>
            </div>
          </div>
        <div class="artworks_arrow" id="artworks_goRight"></div>
      </div>
      <div class="gallery" id="artworks_info_trigger"></div>
      <section id="gallery_artworks">
        <div class="gallery" id="artworks_view">
            <div id="carouselToClean_artworks">
              {{#each artwork in model}}
              <div class="artwork_item" id="{{unbound artwork.id}}">
                <img class="artwork" id="{{unbound artwork.id}}" src="img/no-img.svg"  title="{{unbound artwork.title}}" alt="{{unbound artwork.title}}" />
                <input type="hidden" name="artwork_dim_horizon" value="{{unbound artwork.dim_horizon}}">
                <input type="hidden" name="artwork_dim_vertica" value="{{unbound artwork.dim_vertica}}">
                <div id="{{unbound artwork.id}}" class="artworks_description">
                  <div class="artworks_description_title">
                    <div class="artworks_description_title_element">
                      <span>{{unbound artwork.title}}</span>
                    </div>
                    <div class="artworks_description_title_element">
                      <span class="artist_name">by {{unbound artwork.artist.name}}</span>
                    </div>
                  </div>
                  <div class="artworks_description_info">
                    <div class="artworks_description_info_element">
                      <span class="artist_description">{{unbound artwork.year}}</span>
                    </div>
                    <div class="artworks_description_info_element">
                      <span class="artist_dimensions">{{unbound artwork.dim_horizon}} x {{unbound artwork.dim_vertica}} cm</span>
                    </div>
                  </div>
                </div>
                <div id="{{unbound artwork.id}}" class="artwork_scale">
                </div>
                <div class="artworks_number">{{index_1}}/{{last}}</div>
              </div>
              {{else}}
              <div class="artwork_item">
                <img class="artwork" id="no_artwork" src="img/no-artwork.svg" alt="" />
              </div>
              {{/each}}
            </div>
        </div>
      </section>
    </script>
    <script type="text/x-handlebars" id="frame" data-template-name="gallery_frame">
      <div class="gallery" id="frames_control"></div>
      <div class="gallery" id="frames_control_trigger"></div>
      <div class="gallery" id="frame_info">
      </div>
      <section id="gallery_frames">
        <div class="gallery" id="frames_view">
          <h3>Soon available...</h3>
        </div>
      </section>
    </script>
    <script type="text/x-handlebars" data-template-name="missing">
      <h1>Error</h1>
    </script>
    <script type="text/javascript" src="../libs/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../libs/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="../libs/jquery.inflateText.js"></script>
    <script type="text/javascript" src="../libs/jquery.fullscreen.js"></script>
    <script type="text/javascript" src="../libs/chart.js"></script>
    <script type="text/javascript" src="js/owl.carousel_artists.js"></script>
    <script type="text/javascript" src="js/owl.carousel_artworks.js"></script>

    <script type="text/javascript" src="../libs/handlebars-v1.3.0.js"></script>
    <script type="text/javascript" src="../libs/ember-v1.6.1.js"></script>
    <script type="text/javascript" src="../libs/ember-data.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/router.js"></script>
    <script type="text/javascript" src="js/crud.js"></script>
    <script type="text/javascript" src="js/models.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/gallery.js"></script>
    <script type="text/javascript" src="js/views.js"></script>
    <script type="text/javascript" src="js/helpers.js"></script>
  </body>
</html>
