<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BYGallery - Administration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="distribution" content="global" />
    <meta name="googlebot" content="index, follow, noimageclick" />
    <meta name="description" content="Beyond Your Gallery is a web application allowing you to virtually export your real-life gallery. You can bring your artworks anywhere anytime to show potential new customers art pieces from a previous exhibition or the current one." />
    <meta name="content" content="Beyond Your Gallery web application." />
    <meta name="keywords" content="gallery, art gallery, virtual gallery, real size, artwork, artpiece" />
    <link href="http://beyondyourgallery.com/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="css/material/material.css" >
    <link rel="stylesheet" href="css/toolkit/toolkit.min.css" >
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/admin.modification.css">
    <link rel="stylesheet" href="css/admin.settings.css">
    <link rel="stylesheet" href="css/admin.about.css">
    <link rel="stylesheet" href="css/font_awesome/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <div class="gallery_loading">
      <h1>Your gallery is loading. Please wait a minute or two.</h1>
      <label class="loading_feedbacks_label" id="session_loading_feedbacks"></label>
      <label class="loading_feedbacks_label" id="artists_loading_feedbacks"></label>
      <label class="loading_feedbacks_label" id="artworks_loading_feedbacks"></label>
      <label class="loading_feedbacks_label" id="settings_loading_feedbacks"></label>
      <div class="loader"><div>
    <div>
<!--##################### ADMINISTRATION #####################-->
    <script type="text/x-handlebars" data-template-name="main">
      <div class="admin_menu">
        {{#link-to 'admin_home_unlogged'}}<div class="admin_menuLink" id="admin_backHome" title="Main page"></div>{{/link-to}}
        <!--{{#link-to 'admin_about_unlogged'}}<div class="admin_menuLink" id="link_about" title="Help & Information">Help</div>{{/link-to}}-->
        {{#link-to 'admin_contact_unlogged'}}<div class="admin_menuLink" id="link_contact" title="Contact us">Contact</div>{{/link-to}}
        <div class="admin_loginForm">
            <table style="width:100%">
              <td>{{input class="admin_input" type="text" name="usernameoremail" pattern= "[a-z0-9]{2,50}" valueBinding="usernameoremail" placeholder="Login or Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Login or Email'"}}</td>
              <td>{{input class="admin_input" type="password" name="password" pattern= "{2,50}" valueBinding="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'"}}</td>
              <td><button class="admin_logButton" {{action "login" usernameoremail password target="controllers.login"}}>Login</button></td>
            </table>
        </div>
      </div>
      <div id="wrapper">
        {{outlet}}
      </div>
    </script>
    <script type="text/x-handlebars" data-template-name="admin_home_unlogged">
      <div id="page_welcome">
        <div id="page_welcome_left">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/">
            <polygon fill="#C45157" points="967.558,178.802 763.303,132.311 763.303,400.067 967.558,357.604 "/>
            <polygon fill="#C3A883" points="695.72,116.173 559.34,84.317 559.34,441.919 695.72,415.208 "/>
            <polygon fill="#A3C0A3" points="491.756,69.181 491.756,458.432 191.79,522 191.79,0 "/>
          </svg>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/">
            <polygon fill="none" stroke="#C45157" stroke-width="1" points="967.558,179.482 763.303,132.991 763.303,400.748 
              967.558,358.284 "/>
            <polygon fill="none" stroke="#C3A883" stroke-width="1" points="695.72,116.854 559.34,84.998 559.34,442.599 695.72,415.888 
              "/>
            <polygon fill="none" stroke="#A3C0A3" stroke-width="1" points="491.756,69.861 491.756,459.112 191.79,522.68 191.79,0.68 "/>
          </svg>
        </div>
        <div id="page_welcome_center">
          <div id="page_welcome_title">
            <h1 style="font-weight: bold;">Work in progress... available in 2016</h1>
          </div>
          <img class="presentation" id="main" src="img/presentation_showroom.jpg" alt="Overview - Showroom page" title="Overview - Showroom page" />
          <div id="page_welcome_content">
            <h3 style="color: rgba(0,0,0,0.7);">The plateform that will take your gallery to the next step...</h3>
            <p>BYGallery allows you to extend your art gallery, to be able to present your art pieces outside your gallery. You can show artworks stocked somewhere else, at their full scale, right here, right now.</p>
            <p>Once you&#39;ve subscribed to BYG.com you&#39;ll have access to your own digital gallery. You will then be able to:</p>
            <ul>
              <li>Store artists and artworks datas (information & images) online</li>
              <li>Display your artworks at their real scale on a screen or a projected area</li>
              <li>Access your datas from anywhere, anytime</li>
              <li>Plus, this gallery is compatible with the Microsoft Kinect V2, so you could browse through your gallery without any device</li>
            </ul>
            <img class="presentation" id="inText" src="img/presentation_admin.jpg" alt="Overview - Administration page" title="Overview - Administration page" />
          </div>
        </div>
        <div id="page_welcome_right">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" style="opacity: 0.5;">
            <polygon fill="#9E9C9A" points="1.087,189.174 191.44,143.05 191.44,408.722 1.087,366.592 "/>
            <polygon fill="#E7C13F" points="218.88,136.187 534.347,59.254 534.347,483.813 218.88,414.561 "/>
            <polyline fill="#EC885C" points="561.815,52.398 561.815,489.74 775.763,537 775.763,0 561.815,52.398 "/>
          </svg>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/">
            <polygon fill="none" stroke="#9E9C9A" stroke-width="1" points="1.087,189.834 191.44,143.71 191.44,409.382 1.087,367.252 "/>
            <polygon fill="none" stroke="#E7C13F" stroke-width="1" points="218.88,136.847 534.347,59.915 534.347,484.474 
              218.88,415.221 "/>
            <polyline fill="none" stroke="#EC885C" stroke-width="1" points="561.815,53.058 561.815,490.4 775.763,537.66 775.763,0.66 
              561.815,53.058 "/>
          </svg>
        </div>
        <footer>{{#link-to 'admin_contact_unlogged'}}Beyond Your Gallery{{/link-to}}</footer>
      </div>
    </script>
    <script type="text/x-handlebars" data-template-name="admin_about_unlogged">
    Coming soon
    </script>
    <script type="text/x-handlebars" data-template-name="admin_contact_unlogged">
    <div id="page_contact">
      <p>beyondyourgallery.com</p>
      <p style="color: rgba(0,0,0,0.4)">by Robin JESPIERRE</p>
      <p></p>
      <p><i class="material-icons">mail_outline</i></p>
      <p style="color: rgba(0,0,0,0.4)">Feel free to contact us</p>
      <p><a href="mailto:contact@beyondyourgallery.com" target="_top">contact@beyondyourgallery.com</a></p>
    </div>
    </script>
    <script type="text/x-handlebars" data-template-name="admin_home">
      <div class="admin_menu">
        {{#link-to 'admin_home'}}<div id="admin_backHome" title="Main page"></div>{{/link-to}}
        {{#link-to 'admin_artists'}}<div class="admin_menuLink" id="link_artists" title="Your artists & artworks">Artists</div>{{/link-to}}
        <a {{action "toGallery" target="controllers.login"}}><div class="admin_menuLink" id="link_gallery" title="Open your showroom">Showroom</div></a>
        {{#link-to 'admin_settings'}}<div class="admin_menuLink" id="link_settings" title="Set your showroom">Settings</div>{{/link-to}}
        {{#link-to 'admin_about'}}<div class="admin_menuLink" id="link_about" title="Help & Information">About</div>{{/link-to}}
        {{#if admin}}
          {{#link-to 'admin_analytics'}}<div class="admin_menuLink" id="link_analytics" title="Data analytics">Analytics</div>{{/link-to}}
        {{/if}}
        <div class="admin_loginForm">
          <table style="width:100%">
            <tr>
              <td><input type="text" class='admin_input' name="logged_gallery" value="{{unbound storage_session.gallery_name}}" readonly="true"></td>
              <td><input type="text" class='admin_input' name="logged_username" value="Logged as {{unbound storage_session.username}}" readonly="true"></td>
              <td><button class="admin_logButton" {{action "logout" target="controllers.login"}}>Logout</button></td>
            </tr>
          </table>
        </div>
      </div>
      <div id="admin_infos">
        {{#each information}}
        <div class="admin_info_popup" id="{{unbound id}}">
          <p><i class="fa fa-info-circle" style="color:rgba(94,111,115,0.7); margin-right:0.5%;"></i>{{message}}<i class="fa fa-times close_info" {{action "close_information" id}} style="color:rgba(194,90,91,0.7); margin-left:0.5%;"></i></p>
        </div>
        {{else}}
        {{/each}}
      </div>
      <div id="wrapper">
        {{outlet}}
      </div>
      <div class="veil" id="admin_upload_artistImg">
        <h1>Uploading an image for the Artist...</h2>
        <div class="mdl-progress mdl-js-progress progress-demo" id="upload_barre_artist"></div>
      </div>
      <div class="veil" id="admin_upload_artworkImg">
        <h1>Uploading an image for the Artwork...</h2>
        <div class="mdl-progress mdl-js-progress progress-demo" id="upload_barre_artwork"></div>
      </div>
      <div class="veil" id="admin_report_bug"></div>
      <div id="admin_bugReport_container">
        <div id="admin_bugReport_title" onclick="open_bugReport()" title="Quick & useful">
          <h2>Report/Request</h2>
        </div>
        <div id="admin_bugReport_close">
          <button class="mdl-button mdl-js-button mdl-button--icon" onclick="close_bugReport()">
            <i class="material-icons">close</i>
          </button>
        </div>
        <div id="admin_bugReport_message">
          <div class="mdl-textfield mdl-js-textfield textfield-demo">
            <textarea name="report_message" class="mdl-textfield__input" type="text" rows= "3" id="sample5" ></textarea>
            <label class="mdl-textfield__label" for="sample5">Your message...</label>
          </div>
          <div id="send_report_button">
            <a {{action "send_message_report" bubbles=false on='click'}}>
              <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">send</i>
              </button>
            </a>
          </div>
        </div>
      </div>
    </script>
    <script type="text/x-handlebars" data-template-name="admin_home/index">
    <p>First configure your gallery in your new environnement in the {{#link-to 'admin_settings'}}&#39;Settings&#39;{{/link-to}} part</p>
    </script>
    <script type="text/x-handlebars" data-template-name="admin_artists">
      <div id="arianeLandmark">
        <div class="arianeElement" id="artists" title="All the artists">Artists</div>
        <div class="arianeElement" id="artist" title="The selected artist">Artist</div>
        <div class="arianeElement" id="artworks" title="The artist's artworks">Artworks</div>
        <div class="arianeElement" id="artwork" title="The selected artworks">Artwork</div>
      </div>
      <div id="admin_datas">
        <div class="admin_case" id="admin_artists">
          <div class="admin_title">
            <h2>{{session.gallery_name}}&#39;s artists</h2>
          </div>
          <div class="admin_artists">
          {{#each artist in model}}
            <div class="admin_artists_element">
              {{#link-to 'admin_artist' artist}}
              <div class="admin_artists_info">
                <label>{{artist.name}}</label>
                {{#if artist.artworksQty}}
                  <label class="artworksQty">{{artist.artworksQty}} artworks</label>
                {{else}}
                  <label class="artworksQty">0 artworks</label>
                {{/if}}
              </div>
              {{/link-to}}
              <div class="toolsPanel {{unbound artist.display}}">
                {{#if artist.display}}
                <a {{action "hideShow_admin_artist" artist.display artist.id bubbles=false on='click'}}>
                  <div class="shownButton" id="{{unbound artist.id}}" title="Hide"></div>
                </a>
                {{else}}
                <a {{action "hideShow_admin_artist" artist.display artist.id bubbles=false on='click'}}>
                  <div class="hiddenButton" id="{{unbound artist.id}}" title="Show"></div>
                </a>
                {{/if}}
                <a {{action "removeArtistPage" artist target="controllers.admin_artist_modification" bubbles=false on='click'}}><div class="removeButton" title="Remove"></div></a>
              </div>
            </div>
          {{else}}
            <label>No artist available</label>
          {{/each}}
            <a {{action "open_admin_artist_add" target="controllers.admin_artist_modification" on='click'}}><div class="addButton" title="Add new artist"></div></a>
          </div>
        </div>
        {{outlet}}
      </div>
      <div class="veil" id="admin_artists"></div>
      <div class="confirmationBox" id="validate_remove_artist">
        <p>This ARTIST and all its ARTWORKS will definitely be removed. Continue?</p>
        <button class="confirm_yes" {{action "remove_artist" target="controllers.admin_artist_modification"}}></button>
        <button class="confirm_no" {{action "close_cancel_confirmationBox" allowedKeys="esc" target="controllers.admin_artist_modification"}}></button>
      </div>
    </script>
    <script type="text/x-handlebars" data-template-name="admin_artist">
      <div class="admin_case" id="admin_artist">
        <div class="admin_title">
          <h2>{{name}}</h2>
        </div>
        <div class="admin_artist">
          <div class="admin_artist_information">
            <p>Lives in {{location}}</p>
            <p>About: {{description}}</p>
            <a {{action "open_admin_artist_modification" this target="controllers.admin_artist_modification" bubbles=false on='click'}}>
              <div class="modifyButton" title="Modify"></div>
            </a>
          </div>
          <div class="admin_artist_picture">
            <input type="hidden" name="current_artist_id" {{bind-attr value=id}}>
            {{#if this.imgOverviewPath}}
            <div class="admin_img_overview">
              <img class="overview" {{bind-attr id=id}} {{bind-attr src=imgOverviewPath}} alt="Overview - {{unbound name}}" />
            </div>
            {{else}}
            <div class="admin_img_overview">
              <img class="overview" style="width:50%; margin-right:25%; margin-left:25%;" src="img/no-img.svg" alt="No image for {{unbound name}}" />
            </div>
            {{/if}}
            <div id="imgUploadButton">
              <input class="admin_input_file" id="artist" name="Upload an image" type="file" title="Add/Replace image" />
            </div>
          </div>
        </div>
      </div>
      <div class="admin_case" id="admin_artworks">
        <div class="admin_title">
          <h2>{{name}}&#39;s works</h2>
        </div>
        <div class="admin_artworks">
        {{#each artworks}}
          {{#link-to 'admin_artwork' this}}
            <div class="admin_artworks_element">
              <div class="admin_artworks_info">
                <label>{{title}}</label>
              </div>
              <div class="toolsPanel">
                {{#if this.display}}
                <a {{action "hideShow_admin_artwork" this.display this.id bubbles=false on='click'}}>
                  <div class="shownButton" id="{{unbound this.id}}" title="Hide"></div>
                </a>
                {{else}}
                <a {{action "hideShow_admin_artwork" this.display this.id bubbles=false on='click'}}>
                  <div class="hiddenButton" id="{{unbound this.id}}" title="Show"></div>
                </a>
                {{/if}}
                <a {{action "remove_artwork_page" this bubbles=false on='click'}}>
                  <div class="removeButton" title="Remove"></div>
                </a>
              </div>
            </div>
          {{/link-to}}
        {{else}}
          <label class="no-artworks">No artwork available</label>
        {{/each}}
          <a {{action "open_admin_artwork_add" this artist target="controllers.admin_artwork_modification" on='click'}}><div class="addButton" title="Add new artwork"></div></a>
        </div>
      </div>
      {{outlet}}
      <div class="veil"></div>
      <div class="confirmationBox" id="validate_remove_artwork">
        <p>This artwork will definitely be removed. Continue?</p>
        <button class="confirm_yes" {{action "remove_artwork"}}></button>
        <button class="confirm_no" {{action "close_cancel_confirmationBox" allowedKeys="esc" target="controllers.admin_artwork_modification"}}></button>
      </div>
    </script>
    <script type="text/x-handlebars" data-template-name="admin_artist_modification">
    <div class="modifyPage">
      <a {{action "cancel_modification_artist" on='click'}}><div class="closeButton"></div></a>
      <div id="admin_mod_title">
      {{#if artist}}
        <h2>{{artist.name}}</h2>
      {{else}}
        <h2>No artist available</h2>
      {{/if}}
        <h3>Modification on Artist</h3>
      </div>
      <form {{action on="submit"}}>
        <div id="admin_toModif">
          <div id="admin_infoToModif">
            {{#if artist}}
            <ul class="infoList">
              <li><label>Name: </label>{{input type="text" name="name" pattern= "{1,35}" valueBinding="artist.name" size="35" required=true}}<span class="form_hint">Name of the artist as it will be displayed</span></li>
              <li><label>Location: </label>
              {{view Ember.Select name="location" multiple=false
                content=countries
                optionValuePath="content.name"
                optionLabelPath="content.name"
                value=artist.location}}
              <span class="form_hint">Artist country location (France, UK, USA...)</span>
              </li>
              <li><label>Description: </label>{{textarea name="description" valueBinding="artist.description" rows="6" required=false}}<span class="form_hint">A few words about the artist</span></li>
            </ul>
            {{/if}}
          </div>
        </div>
        <div id="admin_validIt">
          {{#if artist}}
          <button class="validateButton" {{action "validate_modification_artist"}}></button>
          <button class="cancelButton" {{action "cancel_modification_artist"}}></button>
          {{/if}}
        </div>
      </form>
    </div>
    <div class="veil" id="admin_artist_modification"></div>
    <div class="confirmationBox" id="cancel_modification_artist">
      <p>All modifications will be LOST. Continue?</p>
      <button class="confirm_yes" {{action "leave_artistModification" artist}}></button>
      <button class="confirm_no" {{action "close_cancel_confirmationBox"}}></button>
    </div>
    <div class="confirmationBox" id="validate_modification_artist">
      <p class="confirm_message">All modifications will be SAVE. Continue?</p>
      <div class="confirm_options">
        <button class="confirm_yes" {{action "save_artistModification"}}></button>
        <button class="confirm_no" {{action "close_validate_confirmationBox"}}></button>
      </div>
    </div>
    </script>
    <script type="text/x-handlebars" data-template-name="admin_artist_add">
    <div class="modifyPage">
      <a {{action "cancel_add_artist" on='click'}}><div class="closeButton"></div></a>
      <div id="admin_mod_title">
        <h2>Create a new Artist</h2>
      </div>
      <form {{action target="controllers.admin_artist_modification" on="submit"}}>
        <div id="admin_toModif">
          <div id="admin_infoToModif">
            <ul class="infoList">
              <li><label>Name*: </label>{{input type="text" valueBinding="name" pattern= "{1,35}" required=true}}<span class="form_hint">Name of the artist as it will be displayed</span></li>
              <li><label>Location: </label>
              {{view Ember.Select name="location" multiple=false
                content=countries
                optionValuePath="content.name"
                optionLabelPath="content.name"
                value=artist.location}}
              <span class="form_hint">Artist country location (France, UK, USA...)</span>
              </li>
              <li><label>Description: </label>{{textarea valueBinding="description" rows="6" required=false}}<span class="form_hint">A few words about the artist</span></li>
            </ul>
          </div>
        </div>
        <div id="admin_validIt">
          <button class="validateButton" {{action "validate_add_artist" name location description}}></button>
          <button class="cancelButton" {{action "cancel_modification_artist" target="controllers.admin_artist_modification"}}></button>
        </div>
      </form>
    </div>
    <div class="veil" id="admin_artist_add"></div>
    <div class="confirmationBox" id="cancel_modification_artist">
      <p>All data will be LOST. Continue?</p>
      <button class="confirm_yes" {{action "leave_artistModification"}}></button>
      <button class="confirm_no" {{action "close_cancel_confirmationBox"}}></button>
    </div>
    <div class="confirmationBox" id="validate_modification_artist">
      <p class="confirm_message">A new artist will be created. Continue?</p>
      <div class="confirm_options">
        <button class="confirm_yes" {{action "add_artist"}}></button>
        <button class="confirm_no" {{action "close_validate_confirmationBox"}}></button>
      </div>
    </div>
    </script>
    <script type="text/x-handlebars" data-template-name="admin_artwork">
      <div class="admin_case" id="admin_artwork">
        <div class="admin_title">
          <h2>{{title}}</h2>
        </div>
        <div class="admin_artwork">
          <div class="admin_artwork_information">
            <p>{{year}}</p>
            <p>{{technique}}</p>
            <p>Horizontal dimension: {{dim_horizon}} cm</p>
            <p>Vertical dimension: {{dim_vertica}} cm</p>
            <a {{action "open_admin_artwork_modification" this bubbles=false on='click'}}>
              <div class="modifyButton" title="Modify"></div>
            </a>
          </div>
          <div class="admin_artwork_picture">
            <input type="hidden" name="current_artwork_id" {{bind-attr value=id}}>
            {{#if this.imgOverviewPath}}
            <div class="admin_img_overview">
              <img class="overview" {{bind-attr id=id}} {{bind-attr src=imgOverviewPath}} alt="Overview - {{unbound title}}" />
            </div>
            {{else}}
            <div class="admin_img_overview">
              <img class="overview" style="width:50%; margin-right:25%; margin-left:25%;" src="img/no-img.svg" alt="No image for {{unbound title}}" />
            </div>
            {{/if}}
            <div id="imgUploadButton">
              <input class="admin_input_file" id="artwork" name="Upload an image" type="file" title="Add/Replace image" />
            </div>
          </div>
        </div>
      </div>
      {{outlet}}
    </script>
    <script type="text/x-handlebars" data-template-name="admin_artwork_modification">
    <div class="modifyPage">
      <a {{action "cancel_modification_artwork" on='click'}}><div class="closeButton"></div></a>
      <div id="admin_mod_title">
      {{#if artwork}}
        <h2>{{artwork.title}}</h2>
      {{else}}
        <h2>No artwork available</h2>
      {{/if}}
        <h3>Modification on Artwork</h3>
      </div>
      <form {{action target="controllers.admin_artwork_modification" on="submit"}}>
        <div id="admin_toModif">
          <div id="admin_infoToModif">
            {{#if artwork}}
            <ul class="infoList">
              <li><label>Title: </label>{{input type="text" name="title" pattern= "{1,35}" valueBinding="artwork.title" required=true}}<span class="form_hint">Title of the artwork as it will be displayed</span></li>
              <li><label>Year: </label>{{input type="number" name="year" pattern= "[0-9]{4}" valueBinding="artwork.year" required=true}}<span class="form_hint">Year of production</span></li>
              <li><label>Horizontal dimension [cm]: </label>{{input type="number" name="dim_horizon" pattern= "[0-9]{1,4}" step="0.01" valueBinding="artwork.dim_horizon" required=true}}<span class="form_hint">Horizontal dimension of the artwork, in centimeter (upper-left corner to upper-right corner)</span></li>
              <li><label>Vertical dimension [cm]: </label>{{input type="number" name="dim_vertica" pattern= "[0-9]{1,4}" step="0.01" valueBinding="artwork.dim_vertica" required=true}}<span class="form_hint">Vertical dimension of the artwork, in centimeter (upper-left corner to lower-left corner)</span></li>
              <li><label>Technique: </label>
              {{view Ember.Select name="technique" multiple=false
                content=techniques
                optionValuePath="content.name"
                optionLabelPath="content.name"
                value=artwork.technique}}
              <span class="form_hint">Artwork technique</span>
              </li>
            </ul>
            {{/if}}
          </div>
        </div>
        <div id="admin_validIt">
          {{#if artwork}}
          <button class="validateButton" {{action "validate_modification_artwork"}}></button>
          <button class="cancelButton" {{action "cancel_modification_artwork"}}></button>
          {{/if}}
        </div>
      </form>
    </div>
    <div class="veil" id="admin_artwork_modification"></div>
    <div class="confirmationBox" id="cancel_modification_artwork">
      <p>All modifications will be LOST. Continue?</p>
      <button class="confirm_yes" {{action "leave_artworkModification" artwork}}></button>
      <button class="confirm_no" {{action "close_cancel_confirmationBox"}}></button>
    </div>
    <div class="confirmationBox" id="validate_modification_artwork">
      <p class="confirm_message">All modifications will be SAVE. Continue?</p>
      <div class="confirm_options">
        <button class="confirm_yes" {{action "save_artworkModification"}}></button>
        <button class="confirm_no" {{action "close_validate_confirmationBox"}}></button>
      </div>
    </div>
    </script>
    <script type="text/x-handlebars" data-template-name="admin_artwork_add">
    <div class="modifyPage">
      <a {{action "cancel_add_artwork" on='click'}}><div class="closeButton"></div></a>
      <div id="admin_mod_title">
        <h2>Create a new Artwork</h2>
      </div>
      <form {{action target="controllers.admin_artwork_modification" on="submit"}}>
        <div id="admin_toModif">
          <div id="admin_infoToModif">
            <ul class="infoList">
              <li><label>Title: </label>{{input type="text" name="title" pattern= "{1,35}" valueBinding="title" required=true}}<span class="form_hint">Title of the artwork as it will be displayed</span></li>
              <li><label>Year: </label>{{input type="number" name="year" pattern= "[0-9]{4}" valueBinding="year" required=true}}<span class="form_hint">Year of production</span></li>
              <li><label>Horizontal dimension [cm]: </label>{{input type="number" name="dim_horizon" pattern= "[0-9]{1,4}" step="0.01" valueBinding="dim_horizon" required=true}}<span class="form_hint">Horizontal dimension of the artwork, in centimeter (upper-left corner to upper-right corner)</span></li>
              <li><label>Vertical dimension [cm]: </label>{{input type="number" name="dim_vertica" valueBinding="dim_vertica" pattern= "[0-9]{1,4}" step="0.01" required=true}}<span class="form_hint">Vertical dimension of the artwork, in centimeter (upper-left corner to lower-left corner)</span></li>
              <li><label>Technique: </label>
              {{view Ember.Select name="technique" multiple=false
                content=techniques
                optionValuePath="content.name"
                optionLabelPath="content.name"
                value=artwork.technique}}
              <span class="form_hint">Artwork technique</span>
              </li>
            </ul>
          </div>
        </div>
        <div id="admin_validIt">
          <button class="validateButton" {{action "validate_add_artwork" title year dim_horizon dim_vertica technique target="controllers.admin_artwork_modification"}}></button>
          <button class="cancelButton" {{action "cancel_modification_artwork" target="controllers.admin_artwork_modification"}}></button>
        </div>
      </form>
    </div>
    <div class="veil" id="admin_artwork_add"></div>
    <div class="confirmationBox" id="cancel_modification_artwork">
      <p>All data will be LOST. Continue?</p>
      <button class="confirm_yes" {{action "leave_artworkModification"}}></button>
      <button class="confirm_no" {{action "close_cancel_confirmationBox"}}></button>
    </div>
    <div class="confirmationBox" id="validate_modification_artwork">
      <p class="confirm_message">A new artwork will be created. Continue?</p>
      <div class="confirm_options">
        <button class="confirm_yes" {{action "add_artwork"}}></button>
        <button class="confirm_no" {{action "close_validate_confirmationBox"}}></button>
      </div>
    </div>
    </script>
    <script type="text/x-handlebars" data-template-name="admin_settings">
    <div class="admin_setting_window">
      <div id="admin_setting">
      {{#each setting in model}}
        <div class="data_case">
          <h3>Projector resolution</h3>
          <h4>Horizontal distance (in pixels)</h4>
          <input type="text" name="resolutionPx_horizon" value="{{unbound setting.resolutionPx_horizon}}" readonly="readonly" />
          <input type="button" {{action "open_admin_setting_modification" 'number' 'Horizontal distance' 'resolutionPx_horizon' setting.resolutionPx_horizon 'px' bubbles=false on='click'}} class="modify_setting" />
          <h4>Vertical distance (in pixels)</h4>
          <input type="text" name="resolutionPx_vertical" value="{{unbound setting.resolutionPx_vertical}}" readonly="readonly" />
          <input type="button" {{action "open_admin_setting_modification" 'number' 'Vertical distance' 'resolutionPx_vertical' setting.resolutionPx_vertical 'px' bubbles=false on='click'}} class="modify_setting" />
          <h3>Displayed area</h3>
          <h4>Horizontal distance (in centimeters)</h4>
          <input type="text" name="projectionCm_horizon" value="{{unbound setting.projectionCm_horizon}}" readonly="readonly" />
          <input type="button" {{action "open_admin_setting_modification" 'number' 'Horizontal distance' 'projectionCm_horizon' setting.projectionCm_horizon 'cm' bubbles=false on='click'}} class="modify_setting" />
          <h4>Vertical distance (in centimeters)</h4>
          <input type="text" name="projectionCm_vertical" value="{{unbound setting.projectionCm_vertical}}" readonly="readonly" />
          <input type="button" {{action "open_admin_setting_modification" 'number' 'Vertical distance' 'projectionCm_vertical' setting.projectionCm_vertical 'cm' bubbles=false on='click'}} class="modify_setting" />
        </div>
      {{/each}}
      {{#each setting in model}}
        <div class="data_case">
          <h3>Options</h3>
          <h4>Automatic slideshow - Switch</h4>
          <input type="text" class="switch" name="auto_slideshow_activate" value="{{unbound setting.auto_slideshow_activate}}" readonly="readonly" />
          <input type="button" {{action "open_admin_setting_modification" 'switch' 'Automatic slideshow - Switch' 'auto_slideshow_activate' setting.auto_slideshow_activate 'none' bubbles=false on='click'}} class="modify_setting" />
          <h4>Automatic slideshow - Time (in seconds)</h4>
          <input type="text" name="auto_slideshow_time" value="{{unbound setting.auto_slideshow_time}}" readonly="readonly" />
          <input type="button" {{action "open_admin_setting_modification" 'multiple' 'Automatic slideshow - Time' 'auto_slideshow_time' setting.auto_slideshow_time 'seconds' bubbles=false on='click'}} class="modify_setting" />
          <h4>Automatic menu countdown (in seconds)</h4>
          <input type="text" name="selection_countdown_time" value="{{unbound setting.selection_countdown_time}}" readonly="readonly" />
          <input type="button" {{action "open_admin_setting_modification" 'multiple' 'Automatic menu countdown' 'selection_countdown_time' setting.selection_countdown_time 'seconds' bubbles=false on='click'}} class="modify_setting" />
        </div>
      {{/each}}
      </div>
      <div id="admin_user">
        <div id="admin_infographics">
          <div class="data_case">
            {{#each setting in model}}
              <canvas class="admin_space_chart"></canvas>
              <input type="hidden" name="free_space" value="{{unbound setting.free_space}}">
              <input type="hidden" name="directory_used_space" value="{{unbound setting.directory_used_space}}">
              <input type="hidden" name="directory_allowed_space" value="{{unbound setting.directory_allowed_space}}">
            {{/each}}
          </div>
          <div class="data_case" id="legend">
            {{#each setting in model}}
              <p>Free space: {{setting.free_space}} Go</p>
              <p>Used space: {{setting.directory_used_space}} Go</p>
              <p>Total allowed space: {{setting.directory_allowed_space}} Go</p>
            {{/each}}
          </div>
        </div>
        <div id="admin_user_data">
          <div class="data_case">
            <dl>
              <dt><label>Name: {{storage_session.name}}</label></dt>
              <dt><label>Username: {{storage_session.username}}</label></dt>
              <dt><label>Gallery name: {{storage_session.gallery_name}}</label></dt>
              <dt><label>Location: {{storage_session.location}}</label></dt>
            </dl>
          </div>
          <div class="data_case">
            <dl>
              <dt><label>Artists: {{storage_session.qty_artists}} items</label></dt>
              <dt><label>Artworks: {{storage_session.qty_artworks}} items</label></dt>
            </dl>
          </div>
          <a {{action "open_admin_user_modification" bubbles=false}}>
            <div class="data_case" id="modify"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="veil" id="veil_setting"></div>
    <div class="confirmationBox" id="modification_setting">
      <p class="confirm_message"></p>
      <div class="confirm_data">
      </div>
      <div class="confirm_options">
        <button class="confirm_yes" {{action "validate_modify_setting"}}></button>
        <button class="confirm_no" {{action "cancel_modify_setting"}}></button>
      </div>
    </div>
    {{outlet}}
    </script>
    <script type="text/x-handlebars" data-template-name="admin_user_modification">
    <div class="modifyPage">
      <a {{action "cancel_modification_user" on='click'}}><div class="closeButton"></div></a>
      <div id="admin_mod_title">
        <h2>Modification on User</h2>
      </div>
      <form {{action target="controllers.admin_settings" on="submit"}}>
        <div id="admin_toModif">
          <div id="admin_infoToModif">
            <ul class="infoList">
              <li><label>Full name: </label>{{input type="text" name="name" pattern= "{2,50}" valueBinding="storage_session.name" required=true}}<span class="form_hint">Full name of the user</span></li>
              <li><label>Username: </label>{{input type="text" name="username" pattern= "[a-z0-9]{2,50}" valueBinding="storage_session.username" required=true}}<span class="form_hint">Min. 2/max. 50 characters, no space, no accent & only lowercase</span></li>
              <li><label>Gallery name: </label>{{input type="text" name="gallery_name" pattern= "{2,50}" valueBinding="storage_session.gallery_name" required=true}}<span class="form_hint">Name of the gallery</span></li>
              <li><label>Location: </label>
              {{view Ember.Select name="gallery_location" multiple=false
                content=countries
                optionValuePath="content.name"
                optionLabelPath="content.name"
                value=storage_session.location}}
              <span class="form_hint">Country of the gallery</span></li>
              <li>
                <label>Password: </label>
                <a {{action "open_admin_user_pass_modification" bubbles=false on='click'}}>
                  <button id="passChange"></button>
                </a>
              </li>
            </ul>
          </div>
        <div class="veil" id="veil_user"></div>
        <div id="admin_validIt">
          <button class="validateButton" {{action "validate_modification_user" storage_session.name storage_session.username storage_session.gallery_name storage_session.location}}></button>
          <button class="cancelButton" {{action "cancel_modification_user"}}></button>
        </div>
      </form>
    </div>
    <div class="veil" id="veil_password"></div>
    <div class="confirmationBox" id="changePassword">
      <p class="confirm_message">Type your new password</p>
      <form {{action target="controllers.admin_user_modification" on="submit"}}>
        <label>New password: </label>{{input type="password" name="password" pattern= "{2,50}" valueBinding="password" required=true}}<span class="form_hint">Type your new password</span>
        <label>Confirm password: </label>{{input type="password" name="confirm_password" pattern= "{2,50}" valueBinding="confirm_password" required=true}}<span class="form_hint">Confirm your new password</span>
        <div class="confirm_options">
          <button class="validateButton" {{action "validate_modification_password" password confirm_password}}></button>
          <button class="cancelButton" {{action "close_cancel_confirmationBox"}}></button>
        </div>
      </form>
    </div>
    <div class="confirmationBox" id="validate_modification_password">
      <p class="confirm_message">Your password will be SAVED. Continue?</p>
      <div class="confirm_options">
        <button class="confirm_yes" {{action "save_password"}}></button>
        <button class="confirm_no" {{action "close_validate_confirmationBox"}}></button>
      </div>
    </div>
    <div class="confirmationBox" id="cancel_modification_user">
      <p>All modifications will be LOST. Continue?</p>
      <button class="confirm_yes" {{action "leave_userModification"}}></button>
      <button class="confirm_no" {{action "close_cancel_confirmationBox"}}></button>
    </div>
    <div class="confirmationBox" id="validate_modification_user">
      <p class="confirm_message">All modifications will be SAVE. Continue?</p>
      <div class="confirm_options">
        <button class="confirm_yes" {{action "save_userModification"}}></button>
        <button class="confirm_no" {{action "close_validate_confirmationBox"}}></button>
      </div>
    </div>
    </script>
    <script type="text/x-handlebars" data-template-name="admin_about">
    <section id="admin_about">
      <ul class="accordion" id="accordion-1" role="tablist">
        <li>
          <header class="accordion-header is-active" data-accordion-header="" role="tab" id="toolkit-accordion-1-header-0" aria-controls="toolkit-accordion-1-section-0" aria-selected="true" aria-expanded="true">
            <h4>Dashboard</h4>
            <h5>Menu links explain one by one</h5>
          </header>
          <section class="accordion-section hide" data-accordion-section="" role="tabpanel" id="toolkit-accordion-1-section-0" aria-labelledby="toolkit-accordion-1-header-0" aria-hidden="true">
            <div class="accordion-body">
              <h6>General</h6>
              <p>Fusce porttitor quam nec libero condimentum eget imperdiet nibh elementum.</p>
              <p></p>
              <h6>Artists</h6>
              <p>Fusce porttitor quam nec libero condimentum eget imperdiet nibh elementum.</p>
              <p></p>
              <h6>Settings</h6>
              <p>Fusce porttitor quam nec libero condimentum eget imperdiet nibh elementum.</p>
              <p></p>
              <h6>About</h6>
              <p>Fusce porttitor quam nec libero condimentum eget imperdiet nibh elementum.</p>
              <p></p>
              <h6>Showroom</h6>
              <p>Fusce porttitor quam nec libero condimentum eget imperdiet nibh elementum.</p>
            </div>
          </section>
        </li>
        <li>
          <header class="accordion-header" data-accordion-header="" role="tab" id="toolkit-accordion-1-header-1" aria-controls="toolkit-accordion-1-section-1" aria-selected="false" aria-expanded="false">
              <h4>&#39;Showroom&#39;</h4>
              <h5>How to use your showroom</h5>
          </header>
          <section class="accordion-section hide" data-accordion-section="" role="tabpanel" id="toolkit-accordion-1-section-1" aria-labelledby="toolkit-accordion-1-header-1" aria-hidden="true">
            <div class="accordion-body">
              <h6>General</h6>
              <p>The home page of the showroom display the last artwork you have selected (just by stopping on in the carousel) or, by default, the last artwork of the last artist you&#39;ve added in your A/Dgallery. If there is no image registered for this artwork or if the last artist added has no artworks, no image will be displayed.
              </p>
              <p></p>
              <h6>Control by MOUSE</h6>
              <p>Fusce porttitor quam nec libero condimentum eget imperdiet nibh elementum.</p>
              <p></p>
              <h6>Control by KEYBOARD</h6>
              <p>Fusce porttitor quam nec libero condimentum eget imperdiet nibh elementum.</p>
              <p></p>
              <h6>Control by GESTURES</h6>
              <p>The gallery is compatible with the Microsoft Kinect V2 (3D motion sensing device), so you can browse through your gallery using gestures.</p>
              <p>To be able to use the application (only on your gallery), first there are some requirements:</p>
              <ul>
                <li>Embedded 8 Standard, Windows 8, Windows 8.1 installed on your computer. Any other system won&#39;t be compatible with the gesture control installed on this application without asking for specific hacking on your computer.</li>
                <li>
                  <a href="http://go.microsoft.com/fwlink/?LinkID=403899&amp;clcid=0x409" alt="download and install the SDK 2.0" title="download and install the free SDK 2.0" target="_blank">If using Windows 8: The SDK 2.0 downloaded and installed on your computer.</a>
                </li>
                <li>
                  <a href="http://people.ict.usc.edu/~suma/faast/FAAST-K4W.zip" alt="download and install FAAST 64bits for Kinect for Windows v2" title="download and install FAAST 64bits for Kinect for Windows v2" target="_blank">FAAST 64bits for Kinect for Windows v2 downloaded and installed on your computer.</a>
                </li>
                <li>Recommended computer Configuration:
                    <ul>
                      <li>64-bit (x64) processor</li>
                      <li>4 GB Memory (or more)</li>
                      <li>Physical dual-core 3.1 GHz (2 logical cores per physical) or faster processor</li>
                      <li>USB 3.0 controller dedicated to the Kinect for Windows v2 sensor</li>
                      <li>DX11 capable graphics adapter</li>
                      <li>A Microsoft Kinect v2 sensor, which includes a power hub and USB cabling</li>
                    </ul>
                </li>
                <li>The Microsoft Kinect V2 sensor for Windows wired to your computer.</li>
              </ul>
            </div>
          </section>
        </li>
        <li>
          <header class="accordion-header is-active" data-accordion-header="" role="tab" id="toolkit-accordion-1-header-0" aria-controls="toolkit-accordion-1-section-0" aria-selected="true" aria-expanded="true">
            <h4>Tutorial</h4>
            <h5>Use cases in video, step by step</h5>
          </header>
          <section class="accordion-section hide" data-accordion-section="" role="tabpanel" id="toolkit-accordion-1-section-0" aria-labelledby="toolkit-accordion-1-header-0" aria-hidden="true">
            <div class="accordion-body">
              <h6>Add a new artist</h6>
              <p>Fusce porttitor quam nec libero condimentum eget imperdiet nibh elementum.</p>
              <p></p>
              <h6>Delete an artist and all its works</h6>
              <p>Fusce porttitor quam nec libero condimentum eget imperdiet nibh elementum.</p>
              <p></p>
              <h6>Modify an artist</h6>
              <p>Fusce porttitor quam nec libero condimentum eget imperdiet nibh elementum.</p>
              <p></p>
              <h6>Good to know - Some tips</h6>
              <p>A session (one user) can be opened only once at a time. If you open your session from a computer and relogged from an other computer, without login out the first one, you will automatically be logged out of the first one when you come back to it.</p>
              <p></p>
              <p>The artists and artworks description are limited to 150 characters. In case you add more, your text would be truncated.</p>
              <p></p>
            </div>
          </section>
        </li>
        <li>
          <header class="accordion-header" data-accordion-header="" role="tab" id="toolkit-accordion-1-header-2" aria-controls="toolkit-accordion-1-section-2" aria-selected="false" aria-expanded="false">
            <h4>About BYGallery</h4>
            <h5>Want to know more?</h5>
          </header>
          <section class="accordion-section hide" data-accordion-section="" role="tabpanel" id="toolkit-accordion-1-section-2" aria-labelledby="toolkit-accordion-1-header-2" aria-hidden="true" style="max-height: 0px;">
            <div class="accordion-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor gravida diam.
                  Donec eget magna nunc. Suspendisse ipsum lacus, pellentesque sit amet lacinia quis,
                  convallis sed ligula. Nullam lobortis sapien et dolor gravida ac convallis erat fermentum.
                  Mauris nec justo lacus. Sed varius varius ligula, sit amet egestas mi blandit dictum.
                  Phasellus sapien tortor, bibendum vitae vehicula a, molestie in odio. Fusce porttitor
                  quam nec libero condimentum eget imperdiet nibh elementum.
              </p>
            </div>
          </section>
        </li>
      </ul>
    </section>
    </script>
    <script type="text/x-handlebars" data-template-name="admin_analytics">
      <p>Some stats for the admin</p>
    </script>
    <script type="text/x-handlebars" data-template-name="missing">
    <section id="error">
      {{#link-to 'admin_home'}}<div id="logo_error"></div>{{/link-to}}
      <h3>Oops! Something went wrong...</h3>
      <h2>Where did you want to go?</h2>
      <p>{{#link-to 'admin_artists'}}Manage your gallery&#39;s Artists & their Artworks?{{/link-to}}</p>
      <p>{{#link-to 'admin_home'}}Modify your Settings?{{/link-to}}</p>
      <p><a {{action "toGallery" target="controllers.login"}}>Open your Showroom?</a></p>
      <p>{{#link-to 'admin_home'}}Learn more about BYGallery.com?{{/link-to}}</p>
    </section>
    </script>
    <script type="text/javascript" src="../libs/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../libs/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="../libs/chart.js"></script>
    <script src="../libs/toolkit.min.js"></script>
    <script src="../libs/material.min.js"></script>

    <script type="text/javascript" src="../libs/handlebars-v1.3.0.js"></script>
    <script type="text/javascript" src="../libs/ember-v1.6.1.js"></script>
    <script type="text/javascript" src="../libs/ember-data.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/router.js"></script>
    <script type="text/javascript" src="js/crud.js"></script>
    <script type="text/javascript" src="js/admin.js"></script>
    <script type="text/javascript" src="js/models.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/views.js"></script>
    
    <script type="text/javascript">
      //var server = location.protocol + '//' + location.hostname;
      //window.onbeforeunload = function() { return "You are about to leave"}
    </script>
  </body>
</html>
