@font-face {
    font-family: 'ropa_sansregular';
    src: url('../fonts/ropasans/ropasans-regular-webfont.eot');
    src: url('../fonts/ropasans/ropasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ropasans/ropasans-regular-webfont.woff2') format('woff2'),
         url('../fonts/ropasans/ropasans-regular-webfont.woff') format('woff'),
         url('../fonts/ropasans/ropasans-regular-webfont.ttf') format('truetype'),
         url('../fonts/ropasans/ropasans-regular-webfont.svg#ropa_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
#god_errors{
    font-family: "ropa_sansregular", Helvetica, sans-serif;
    font-size: 1.2em;
}
#god_errors header{
    text-align: justify;
    background-color: rgba(214, 84, 82, 0.3);
    border-top: solid 1px rgba(214, 84, 82,1);
}
#god_errors header.is-active{
    background-color: rgba(214, 84, 82, 0.6);
}
#god_errors h4{
    text-align: center;
    font-weight: bold;
}
#god_errors h5{
    text-align: center;
    font-weight: bold;
    font-size: 0.7em;
}
#god_errors h6{
    text-align: left;
}