/*###  General ###*/
@font-face {
    font-family: 'ropa_sansregular';
    src: url('../fonts/ropasans/ropasans-regular-webfont.eot');
    src: url('../fonts/ropasans/ropasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ropasans/ropasans-regular-webfont.woff2') format('woff2'),
         url('../fonts/ropasans/ropasans-regular-webfont.woff') format('woff'),
         url('../fonts/ropasans/ropasans-regular-webfont.ttf') format('truetype'),
         url('../fonts/ropasans/ropasans-regular-webfont.svg#ropa_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
a{
	color: inherit;
}
a:link,a:visited,a:hover,a:active,a:focus{
	color: inherit;
	outline: none;
	text-decoration: none;
}

html,body{
	font-size: 0.8vw;
}

span{
	margin:5px 5px 5px 5px;
}

button{
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
	color: #FFF;
	background-color: Transparent;
    cursor: pointer;
}
button:focus{
	text-decoration: none;
	outline: 0 !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(0,0,0,0.7);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgba(0,0,0,0.7);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(0,0,0,0.7);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: rgba(0,0,0,0.7);
}
/**** Vertical scrollbars ****/
/*Width*/
::-webkit-scrollbar {
   width: 8px;
}
/*The whole track*/
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
   border-radius: 1px;
}
/*The moving element*/
::-webkit-scrollbar-thumb {
   border-radius: 1px;
   background-color: rgba(0,0,0,0.2);
}

.gallery_loading{
  display:none;
  position: fixed;
  top:0px;
  bottom:0px;
  width: 100%;
  height:2000px;
  padding-top: 15%;
  background-color:rgba(235,235,235,1);
  font-family: "ropa_sansregular", Helvetica, sans-serif;
  color: rgba(61,61,61,1);
  font-size: 0.9em;
  text-align: center;
  cursor: default;
  z-index: 20000;
}
.loader{
  width:100px;
  height:100px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0,0,0,0);
  background-image: url('imgs/loader.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

label.loading_feedbacks_label{
  width:100%;
    display: inline-block;
  margin-right: auto;
  margin-left: auto;
  font-family: "ropa_sansregular", Helvetica, sans-serif;
  color: rgba(128,128,128,1);
  font-size: 1.5em;
  text-align: center;
  cursor: default;
  z-index: 20000;
}
/*###  Menu bar ###*/
.admin_menu a:link,.admin_menu a:visited,.admin_menu a:hover,.admin_menu a:active{
	color: #FFF;
}
.admin_menu{
	position:fixed;
	height:100px;
	width:100%;
	background-color: rgba(0,0,0,0.9);
	overflow: hidden;
	border-bottom: solid 1px rgba(77,77,77,1);
	z-index: 1000;
}
#admin_backHome{
	width:100px;
	height: 100px;
	text-align: center;
	float:left;
	background-color: rgba(0,0,0,1);
	background-image: url('imgs/logo_w_sm.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 50%;
	border-right: solid 1px #FFF;
}
#admin_backHome img{
	width:100px;
	margin-right: auto;
	margin-left: auto;
}
.admin_menuLink{
	float:left;
	width:100px;
	height:100px;
	text-align: center;
	border-right: solid 1px #FFF;
	padding-top:0.5%;
	box-shadow: none;
	color:#FFF;
	font-family: "ropa_sansregular", Helvetica, sans-serif;
	background-repeat: no-repeat;
	background-size: auto 60%;
	outline:none;
	background-color: rgba(0,0,0,1);
}
a.active .admin_menuLink{
	background-color: rgba(152,191,218,1);
}
.admin_menuLink.hover{
	background-color: rgba(152,191,218,0.3);
}
#link_errors{
	color: rgba(77,77,77,1);
	border-right: solid 1px rgba(77,77,77,1);
	background-position: center 70%;
	background-color: rgba(255,209,145, 1);
	background-image: url('imgs/errors.svg');	
}
#link_control{
	color: rgba(77,77,77,1);
	border-right: solid 1px rgba(77,77,77,1);
	background-position: center 70%;
	background-color: rgba(255,209,145, 1);
	background-image: url('imgs/control.svg');	
}
a.active .admin_menuLink#link_errors{
	background-color: rgba(152,191,218,1);
}
.admin_menuLink#link_errors.hover{
	background-color: rgba(152,191,218,0.3);
}
#link_gallery{
	color: rgba(77,77,77,1);
	background-position: center 70%;
	background-color: rgba(255,209,145, 1);
	background-image: url('imgs/gallery.svg');	
	cursor: pointer;
}
a.active .admin_menuLink#link_gallery{
	background-color: rgba(152,191,218,1);
}
.admin_menuLink#link_gallery.hover{
	background-color: rgba(152,191,218,0.3);
}
#link_settings{
	background-position: center bottom;
	background-image: url('imgs/settings.svg');	
}
#link_about{
	background-position: center bottom;
	background-image: url('imgs/about.svg');	
}
#link_contact{
	background-position: center bottom;
	background-image: url('imgs/contact.svg');	
}
#link_analytics{
	background-position: center bottom;
	background-image: url('imgs/analytics.svg');	
}
.admin_loginForm{
	float:right;
	width: 30%;
	line-height: 50px;
	color: rgba(255,255,255,0.7);
	border-left: solid 1px rgba(77,77,77,1);
	font-family: "ropa_sansregular", Helvetica, sans-serif;
	overflow: hidden;
}
.admin_loginForm table{
	border-spacing: 0px;
}
.admin_loginForm td{
	text-align: center;
	vertical-align: middle;
}
.admin_loginForm  td:last-child{
	border-left: solid 1px rgba(77,77,77,1);
}
.admin_logButton{
	width:100px;
	height:100px;
	cursor: pointer;
	color: rgba(255,255,255,1);
}
.admin_logButton a{
	width: 100%;
	color: #FFF;
	text-decoration: none;
	outline: none;
}
.admin_logButton a:hover{
	text-decoration: none;
	outline: none;
}
.admin_input{
	text-align: center;
	border-radius: 3px;
	color: rgba(0,0,0,0.7);
}
.admin_input[name='logged_username']{
	text-align: left;
	line-height: 30px;
	border-radius: none;
	color: rgba(255,255,255,0.7);
	background-color: Transparent;
	border: none;
}
.admin_input[name='logged_gallery']{
	font-size: 1.4em;
	font-weight: bold;
	line-height: 30px;
	border-radius: none;
	color: rgba(255,255,255,0.7);
	background-color: Transparent;
	border: none;
}

#page_welcome{
	width: 70%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	font-family: "ropa_sansregular", Helvetica, sans-serif;
	font-size: 1.2em;
	text-align: justify;
}
#page_welcome h1,#page_welcome h2,#page_welcome h3{
	text-align: center;
}
#page_welcome_title{
	margin-top: 50px;
}
#page_welcome_content{
	margin-top: 50px;
}

#arianeLandmark{
	position:fixed;
	top: 100px;
	left:0px;
	height:20px;
	width:100%;
	border-bottom: solid 1px rgba(199,201,203,1);
	background-color: rgba(235,235,235,1);
}
.arianeElement{
	float:left;
	display:none;
	height:20px;
	line-height: 23px;
	text-align: center;
	border-right: solid 1px rgba(204,204,204,1);
	font-family: "ropa_sansregular", Helvetica, sans-serif;
	color: rgba(77,77,77,0.7);
	background-color: rgba(227,227,227,1);
	cursor: pointer;
}
.arianeElement#artists{
	border-left: solid 2px rgba(152,191,218,1);
}
#admin_infos{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	z-index: 2000;
}
.god_info_popup{
	color: rgba(77,77,77,1);
	font-family: "ropa_sansregular", Helvetica, sans-serif;
	font-size: 1.5em;
	line-height: 1.5em;
	width:100%;
	height:30px;
	text-align: center;
	border-top: solid 1px rgba(204,204,204,1);
	background-color: rgba(161, 232, 338, 0.8);
	margin-top:0px;
	z-index: 2000;
	overflow: hidden;
}
.god_error_popup{
	position:fixed;
	left:0px;
	width:100%;
	z-index: 2000;
	color: rgba(77,77,77,1);
	font-family: "ropa_sansregular", Helvetica, sans-serif;
	font-size: 1.5em;
	line-height: 1.5em;
	width:100%;
	height:30px;
	text-align: center;
	border-top: solid 1px rgba(194,90,91,1);
	background-color: rgba(214, 84, 82, 0.8);
	margin-top:0px;
	z-index: 2000;	
	overflow-x: hidden;
	overflow-y: auto;
}
.god_info_popup p, .god_error_popup p{
	margin-top :0;
}

.progress-demo {
	width: 50vw;
}

.close_info,.close_error{
	cursor: pointer;
}
.toolsPanel{
	float:right;
	width:25%;
	overflow: hidden;
}
.addButton,.shownButton,.hiddenButton,.modifyButton,.removeButton{
	border: none;
	background-color: Transparent;
	background-repeat: no-repeat;
	background-position: center center;
    cursor: pointer;
    outline: none;
}
.addButton{
	width:91%;
	height:80px;
	margin-right: auto;
	margin-left: auto;
	margin-top:2%;	
	background-size: auto 100%;
	background-image: url('icons/add.svg');
}
.shownButton{
	float:left;
	width:45%;
	height:80px;
	background-size: auto 70%;
	background-position: left center;
	background-image: url('icons/shown.svg');	
}
.hiddenButton{
	float:left;
	width:45%;
	height:80px;
	background-size: auto 70%;
	background-position: left center;
	background-image: url('icons/hidden.svg');	
}
.modifyButton{
	float:left;
	width:45%;
	height:80px;
	background-size: auto 70%;
	background-image: url('icons/modify.svg');
}
.removeButton{
	float:right;
	width:45%;
	height:80px;
	background-size: auto 70%;
	background-image: url('icons/remove.svg');
}

/*###  Wrapper ###*/
#wrapper{
	width: 100%;
	position:absolute;
	top:100px;
	left:0px;
}

/*###  Datas ###*/
#admin_datas{
	color: rgba(77,77,77,1);
	float:none;
	font-family: "ropa_sansregular", Helvetica, sans-serif;
	width:5000px;
	margin-top:20px;
}
.admin_case{
	float: left;
	width:50vh;
	height:80vh;
	border-right: solid 1px rgba(204,204,204,1);
}
.admin_case a,.admin_case a{
	color: inherit;
	cursor: pointer;
}
.admin_title{
	float:left;
	width: 8%;
	height:200px;
	border-left: solid 2px rgba(152,191,218,1);
	border-right: solid 2px rgba(0,0,0,1);
	color: rgba(199,201,203,1);
	background-color: rgba(9,9,9,1);
	overflow: hidden;
}
.admin_title h2{
	position:relative;
	bottom: -95%;
	width: 500px;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    -ms-transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
    transform-origin: left top 0;
    font-family: "ropa_sansregular", Helvetica, sans-serif;
    font-size: 2.5vw;
    line-height: 4vw;
}
#admin_mod_title{
	width:100%;
	height:50px;
	background-color: rgba(0,0,0,0.9);
	border-bottom: solid 1px rgba(204,204,204,1);
    font-family: "ropa_sansregular", Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
}
#admin_mod_title h2{
	color: rgba(255,255,255,0.9);
	font-size: 6em;
	margin-top: 1.5%;
}
#admin_mod_title h3{
	color: rgba(255,255,255,0.7);
	font-size: 2em;
	margin-top: 0;
}
.veil#admin_report_bug{
	display: block;
	opacity: 0;
    filter: alpha(opacity=0);
    height:0px;
	z-index: 1500;
}
#admin_bugReport_container{
	position:fixed;
	bottom: -200px;
	right: -15%;
	z-index: 900;
	width:30%;
	height:250px;
	font-size: 1.5em;
	text-align: center;
    z-index: 6000;
}
#admin_bugReport_close{
	position:absolute;
	top: 0px;
	right: 0px;
	width:50%;
	height:245px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	font-family: "ropa_sansregular", Helvetica, sans-serif;
	font-size: 0.8em;
	color: rgba(255,209,145,1);
	text-align:right;
	z-index: 2000;
}
#admin_bugReport_title{
	position:absolute;
	top: 0px;
	left: 0px;
	width:50%;
	height:250px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	font-family: "ropa_sansregular", Helvetica, sans-serif;
	border-left: solid 1px rgba(199,201,203,1);
	border-right: solid 1px rgba(199,201,203,1);
	border-top: solid 1px rgba(199,201,203,1);
	background-color: rgba(255,255,255,0.9);
	z-index: 2000;
	cursor: pointer;
}
#admin_bugReport_title h2{
	font-family: "ropa_sansregular", Helvetica, sans-serif;
	font-size: 1em;
  	line-height: 2em;
  	color: rgba(77,77,77,1);
}
#admin_bugReport_message{
	position:absolute;
	bottom: 0px;
	left: 0px;
	width:100%;
	height:200px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	font-family: "ropa_sansregular", Helvetica, sans-serif;
	font-size: 0.6em;
	color: rgba(77,77,77,1);
	background-color: rgba(255,255,255,1);
	z-index: 2500;
}
#send_report_button{
	width: 100%;
	margin-top:5%;
	margin-bottom:5%;
	color: rgba(255,209,145,1);
}
/*Artists & Artist*/
.admin_artists_element,.admin_artworks_element{
	cursor: pointer;
}
.admin_artists, .admin_artist{
	overflow-y: auto; 
}
.admin_artist{
	padding: 1%;
	font-size: 1.5em;
}
.admin_artists_element,.admin_artworks_element, .no-artworks{
	width:100%;
	height:80px;
	font-size: 2em;
	border-bottom: solid 1px rgba(204,204,204,1);
	margin: 0px 0px 0px 0px;
	background-color: #FFF;
	overflow: hidden;
}
.admin_artists_element:hover{
	background-color: rgba(230,175,97, 0.3);
	height:85px;
}
.admin_artists_element a:hover{
	text-decoration: none;
}
.admin_artists_element label, .admin_artworks_element label{
	width:100%;
	cursor:pointer;
}
.admin_artists_element .artworksQty{
	font-size: 0.7em;
	display: block; /* add this */
}
.admin_artists_info, .admin_artworks_info{
	float: left;
	width: 75%;
	height: 80px;
	padding-left: 1%;
	padding-top: 1%;
	overflow: hidden;
}
.admin_artist_information,.admin_artwork_information{
	width:100%;
	overflow: hidden;
}
.admin_artist_picture,.admin_artwork_picture{
	width:100%;
	overflow: hidden;
}
.admin_img_overview{
	width:100%;
	margin-top:1%;
}
.admin_img_overview img{
	max-width: 90%;
	width:auto;
	margin-left: auto;
	margin-right: auto;
}
.admin_case#admin_artist{
	width: 40%;
	border-right: solid 1px rgba(204,204,204,1);
	overflow: hidden;
}

/*Artworks & Artwork*/
.admin_artwork{
	padding: 1%;
	font-size: 1.5em;
}
.admin_artworks, .admin_artwork{
	overflow-y: auto; 	
}
.no-artworks{
	cursor: default;
}
.admin_case .admin_artworks_element a:hover{
	text-decoration: none;
}
.admin_case .admin_artworks_element:hover{
	background-color: rgba(230,175,97, 0.3);
	height:85px;
}
.admin_case#admin_artwork{
	width: 40%;
	border-right: solid 1px rgba(204,204,204,1);
}




#admin_imgToModif #imgUploadButton{
	width:100%;
	height:80px;
	border: none;
	margin-right: auto;
	margin-left: auto;
}
.admin_input_file{
	display: inline-block;
	float: right;
	width:50%;
	text-decoration: none;
	outline: 0 !important;
	color: rgba(77,77,77,0);
	font-size: 1.3em;
	margin-top:2%;
	margin-bottom:2%;
}
.admin_input_file::-webkit-file-upload-button {
  	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
	text-decoration: none;
	outline: 0 !important;
	width:80px;
	height:80px;
	color: rgba(255,255,255,0);
	background-color: Transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
    cursor: pointer;
    background-image: url('icons/upload.svg');
}
.deleteButton{
	float: right;
	width:50%;
  	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
	width:80px;
	height:80px;
	color: rgba(255,255,255,0);
	background-color: Transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
    cursor: pointer;
    background-image: url('icons/delete.svg');
    margin-top:2%;
	margin-bottom:2%;
}
#error{
	width: 100%;
	font-family: "ropa_sansregular", Helvetica, sans-serif;
	color: rgba(0,0,0,1);
	text-align: center;
  	margin-top: 2.5%;
}
#error p{
	font-size: 1.5em;
	line-height: 2em;
	color: rgba(77,77,77,1);
}
#logo_error{
	width: 200px;
	height: 200px;
	background-image: url('imgs/error.svg');
	background-color: Transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2%;
	margin-bottom: 2%;
}
#error a{
	cursor: pointer;
}
#error a:visited{
	outline: none;
	text-decoration: none;
	color: rgba(77,77,77,1);
}