#gallery_frames{
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#frames_control{
  position:absolute;
  top:0px;
  left:0px;
  background-image: url('imgs/back.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100% auto;
  background-color: rgba(77,77,77,0.6);
  -webkit-box-shadow: 0px 0px 14px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 0px 14px rgba(0,0,0,.7);
  box-shadow: 0 0 14px rgba(0,0,0,.7);
  cursor:pointer;
  overflow: hidden;
  z-index: 1200;
}
#frames_control_trigger{
  position:absolute;
  top:0px;
  left:0px;
  overflow: hidden;
  z-index: 1100;  
}

#frames_view{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  color: rgba(77,77,77,1);
  font-family: "ropa_sansregular", Helvetica, sans-serif;
  font-size: 2em;
  line-height: 4em;
  text-align: center;
  background-image: url('imgs/modulr_animation.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 50%;
  overflow: hidden;
}
#frame_info{
  width:100%;
  position:absolute;
  bottom:0px;
  right:0px;
  background-image: url('imgs/olfraime_logo.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 50%;
  overflow: hidden;
  z-index: 1100;
}