body{
	overflow: hidden;
}
#gallery_artists{
	overflow: hidden;
	width: 100%;
	height: 100%;
}
/*------------------------------------------------------- Artworks part - begin -------------------------------------------------------*/
#artists_control_trigger{
	position:absolute;
	top:0px;
	left:0px;
	overflow: hidden;
	cursor:pointer;
	z-index: 1100;	
}

#artists_view{
	position:absolute;
	top:0px;
	left:0px;
  	width:100%;
  	overflow: hidden;
}
.artist_item{
	text-align: center;
	width: 100%;
}

#artists_info{
	width:100%;
	position:absolute;
	bottom:0px;
	right:0px;
  	overflow: hidden;
	z-index: 1200;
}
#artists_info_trigger{
	width:100%;
	position:absolute;
	bottom:0px;
	right:0px;
  	overflow: hidden;
	z-index: 1100;
}
.gallery_artists#carousel_bullets{
	float:left;
	width:100%;
}
.artists_number{
	position: absolute;
	top:1%;
	right:1%;
	width:50%;
	padding: 1%;
	display: block;
	text-align: right;

	font-family: "ropa_sansregular", Helvetica, sans-serif;
	font-size: 2em;
	line-height: 1em;
	overflow: hidden;
}
.artists_arrow{
  float:left;
  background-size:  auto 60%;
  background-position: center center;
  cursor:pointer;
}
.artists_description{
	position: absolute;
	top:30%;
	left:25%;
	width:50%;
	padding: 1%;
	display: block;
	text-align: center;
	background-color: rgba(255,255,255,0.75);
	border: solid 1px #666666;
	-webkit-box-shadow: 0px 0px 41px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 41px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 41px 0px rgba(0,0,0,1);

	font-family: "ropa_sansregular", Helvetica, sans-serif;
	font-size: 2em;
	overflow: hidden;
	z-index: 10000;
}
.artists_description h2,.artists_description p{
	margin:0px;
	display: inline;
}
.artists_description h2{
	font-size:11vmin;
	line-height:12vmin;
}
.artists_description p{
	font-size:7vmin;
	line-height:12vmin;
}
.artists_description_title_element,.artists_description_title_element{
	width: 100%;
	overflow: hidden;
}