@font-face {
    font-family: 'ropa_sansregular';
    src: url('../fonts/ropasans/ropasans-regular-webfont.eot');
    src: url('../fonts/ropasans/ropasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ropasans/ropasans-regular-webfont.woff2') format('woff2'),
         url('../fonts/ropasans/ropasans-regular-webfont.woff') format('woff'),
         url('../fonts/ropasans/ropasans-regular-webfont.ttf') format('truetype'),
         url('../fonts/ropasans/ropasans-regular-webfont.svg#ropa_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Put your CSS here */
html, body {
	margin:0;
	padding:0;
    /*Auto full screen*/
}

#gallery_artworks{
	overflow: hidden;
}
/*------------------------------------------------------- Artworks part - begin -------------------------------------------------------*/
#artworks_control_trigger{
	position:absolute;
	top:0px;
	left:0px;
	overflow: hidden;
	cursor:pointer;
	z-index: 1100;
}

#artworks_view{
	position:absolute;
	top:0px;
	left:0px;
	overflow: hidden;
}
.artwork_item{
	text-align: center;
}

#artworks_info{
	width:100%;
	position:absolute;
	bottom:0px;
	right:0px;
	z-index: 1200;
}
#artworks_info_trigger{
	width:100%;
	position:absolute;
	bottom:0px;
	right:0px;
	z-index: 1100;
}
.artwork_info{
	width:50%;
	float:left;
}
.artworks_number{
	position: absolute;
	top:1%;
	right:1%;
	width:50%;
	padding: 1%;
	display: block;
	text-align: right;

	font-family: "ropa_sansregular", Helvetica, sans-serif;
	font-size: 2em;
	line-height: 1em;
	overflow: hidden;
}
.artwork_info_other{
	width:25%;
	float:right;
	overflow: hidden;
}
.artworks_arrow{
	width:25%;
	float:left;
	background-size:  auto 60%;
	background-position: center center;
	z-index: 1200;
	cursor:pointer;
}
.artworks_description{
	position: relative;
	bottom:0px;
	left:0px;
	width:50%;
	display:block;
	text-align: center;
	background-color: rgba(255,255,255,0.75);
	background-image: url('imgs/separation.svg');
	background-repeat: no-repeat;
	background-position: 65% center;
	background-size: auto 150%;	
	border: solid 1px #666666;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);

	font-family: "ropa_sansregular", Helvetica, sans-serif;
	z-index: 1100;
	overflow: hidden;
}
.artwork_scale{
	position: absolute;
	bottom:0px;
	left:0px;
	display:inline;
	color: rgba(77,77,77,1);
	font-family: "ropa_sansregular", Helvetica, sans-serif;
	font-weight:bold;
	text-align: center;
	z-index: 1100;
	overflow: hidden;
}
.artworks_description_title{
	float: left;
	width: 65%;
	color: rgba(77,77,77,1);
	overflow: hidden;
}
.artworks_description_info{
	float: left;
	width: 35%;
	color: rgba(77,77,77,0.6);
	overflow: hidden;
}
.artworks_description_title_element,.artworks_description_info_element{
	width: 100%;
	margin:0px;
	display: block;
	overflow: hidden;
}
.artworks_description_title_element{
	font-size:2.5vmin;
	line-height: 5vmin;
}
.artworks_description_info_element{
	font-size:2.5vmin;
	line-height: 5vmin;
}
span.artist_name{
	color: rgba(77,77,77,0.6);
	font-weight: normal;
}
.gallery_info_popup{
	position: absolute;
	right: 1%;
	bottom: 0px;
	width: 100%;
	height: 30px;
}