@font-face {
    font-family: 'ropa_sansregular';
    src: url('../fonts/ropasans/ropasans-regular-webfont.eot');
    src: url('../fonts/ropasans/ropasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ropasans/ropasans-regular-webfont.woff2') format('woff2'),
         url('../fonts/ropasans/ropasans-regular-webfont.woff') format('woff'),
         url('../fonts/ropasans/ropasans-regular-webfont.ttf') format('truetype'),
         url('../fonts/ropasans/ropasans-regular-webfont.svg#ropa_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
  margin:0;
  padding:0;
    /*Auto full screen*/
}

.gallery#home_control{
  float:left;
  /*-webkit-box-shadow: inset -20px 0px 31px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -20px 0px 31px -11px rgba(0,0,0,0.75);
  box-shadow: inset -20px 0px 31px -11px rgba(0,0,0,0.75);*/
  background-color: rgba(0,0,0,1);
  overflow: hidden;
  height:100px;
  width:100%;
}
.arrow{
  width: 100%;
  float:none;
  cursor:pointer;
}
#goTop{
  background-image: url('imgs/topArrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 60%;
}
#goDown{
  background-image: url('imgs/bottomArrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 60%;
}
#toDo{
  width: 100%;
  text-align: right;
  overflow: hidden;
  font-weight: bold;
  font-size: 2em;
  color: #000;
}
.gallery#home_menu{
  float:left;
  background-color: rgba(0,0,0,1);
  overflow: hidden;
}
.sep-home{
  float:left;
  background-repeat: no-repeat;
  background-position: center; 
  overflow: hidden;
}
#leftSep{
  display:none;
  /*background-image: url('imgs/leftFocus.png');
  border-right: solid 2px rgba(0,0,0,1);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60% auto;*/
}
#rightSep{
  /*background-image: url('imgs/rightFocus.png');
  border-left: solid 2px rgba(0,0,0,1);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60% auto;*/
}
#menu{
  float:left;
  background-color: rgba(0,0,0,1);
  overflow: hidden;
}
.menuItem{
  width:100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60% auto;
  cursor: pointer;
}
.gallery #artists{
  /*Change for .SVG*/
  background-image: url('imgs/mainMenuLogos_artists.svg');
}
.gallery #artist{
  /*Change for .SVG*/
  background-image: url('imgs/mainMenuLogos_artworks.svg');
}
.gallery #frameit{
  /*Change for .SVG*/
  background-image: url('imgs/mainMenuLogos_frameIt.svg');
}
.gallery#home_countdown{
  /*background-color: rgba(0,0,0,0);*/
  float: left;
  height: 150px;
  text-align: center;
  display: inline-block;
  line-height: 1.4;
  font-size: 110px;
  color: rgba(204,204,204,1);;
  /*background-image: url('imgs/cmpt_bg.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 100%;*/
  overflow: hidden; 
}

/*img.gallery_home_overview{
  float:right;

  -webkit-transform: rotateY(-45deg); /* Chrome, Safari, Opera 
  transform: rotateY(-45deg);

  transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out; /* Firefox 4
  -webkit-transition: all 2s ease-in-out; /* Safari and Chrome
  -o-transition: all 2s ease-in-out; /* Opera
}

#gallery_home_overviewBorder_rightSide{
  float: right;
  background-color: #888888;
  position: absolute;
  right: 0px;
  width: 12px;
  height: 0px;

  transform: rotateY(25deg);

  transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out; /* Firefox 4 
  -webkit-transition: all 2s ease-in-out; /* Safari and Chrome 
  -o-transition: all 2s ease-in-out; /* Opera 
}*/
.gallery#home_selection{
  float:left;

 /*  -webkit-perspective: 840px; Chrome, Safari, Opera perspective: 840px; */
  -moz-perspective: 840px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.gallery_home_overview_panel {
  position: relative;
  -moz-perspective: 100px;
  -moz-transform: rotateY(-3deg);
  -webkit-transform: perspective(100) rotateY(-3deg);
  outline: 1px solid transparent; /* Helps smooth jagged edges in Firefox */
  box-shadow: none;
  margin: 0;
}
img.gallery_home_overview{
  position: relative;
  max-width: 100%;
}

.gallery_home_overview_panel:before,
.gallery_home_overview_panel:after {
  position: absolute;
  content: ' ';
  z-index: -1;
}
.gallery_home_overview_panel:before {
  width: 100%;
  background-color: rgba(0,0,0,0);
  box-shadow: 5px 5px 20px #333;
  height: 98%;
}
.gallery_home_overview_panel:after {
  width: 1%;
  height:767.7px;
  left: 100%;
  top: 2px;
  background-color: rgba(0,0,0,0);
  /*box-shadow: inset 1px 0px 2px 3px rgba(255,255,255,0.3);*/
  -moz-transform: rotateY(20deg);
  -webkit-transform: perspective(100) rotateY(20deg);
}

.gallery_loading{
  display:none;
  position: fixed;
  top:0px;
  bottom:0px;
  width: 100%;
  height:2000px;
  padding-top: 15%;
  background-color:rgba(235,235,235,1);
  font-family: "ropa_sansregular", Helvetica, sans-serif;
  color: rgba(61,61,61,1);
  font-size: 0.9em;
  text-align: center;
  cursor: default;
  z-index: 20000;
}
.loader{
  width:100px;
  height:100px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0,0,0,0);
  background-image: url('imgs/loader.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

label.loading_feedbacks_label{
  width:100%;
    display: inline-block;
  margin-right: auto;
  margin-left: auto;
  font-family: "ropa_sansregular", Helvetica, sans-serif;
  color: rgba(128,128,128,1);
  font-size: 1.5em;
  text-align: center;
  cursor: default;
  z-index: 20000;
}