.veil{
	position:fixed;
	right:0px;
	top:0px;
	width:100%;
	height:100px;
	display:none;
	background-color: rgba(0,0,0,0.7);
	z-index: 7000;
}
.confirmationBox{
	position:fixed;
	right:0px;
	top:0px;
	width:100%;
	text-align: center;
    font-family: "ropa_sansregular", Helvetica, sans-serif;
    font-size: 2em;
	display:none;
	background-color: rgba(255,255,255,1);
	border-top: solid 1px rgba(204,204,204,1);
	z-index: 7000;
	overflow: hidden;
}
.confirmationBox p{
	font-size: 1.3em;
}
.confirm_data{
	width:100%;
}
.confirm_options{
	width:100%;
	border-top: solid 1px rgba(204,204,204,1);
}
.confirm_no{
	float:left;
	margin-left:45%;
	width:80px;
	height:80px;
	background-image: url('icons/no.svg');
	background-size: auto 100%;
	background-color: Transparent;
	background-repeat: no-repeat;
	background-position: center center;
}
.confirm_yes{
	float:right;
	margin-right:45%;
	width:80px;
	height:80px;
	background-image: url('icons/yes.svg');
	background-size: auto 100%;	
	background-color: Transparent;
	background-repeat: no-repeat;
	background-position: center center;
}
.modifyPage{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height: 10px;
	background-color: rgba(255,255,255,1);
	z-index: 2000;
	overflow: hidden;
}
.closeButton{
	position:absolute;
	top:0px;
	right:0px;
	border: none;
	background-color: Transparent;
	background-repeat: no-repeat;
	background-position: center center;
    cursor: pointer;
    outline: none;
	width:80px;
	height:80px;
	background-size: auto 70%;
	background-image: url('icons/close.svg');
	z-index: 4000;
}
#admin_toModif{
	width:100%;
	height:50px;
}
#admin_infoToModif{
	float:left;
	width:60%;
	background-color: rgba(255,255,255,1);
	border-right: solid 1px rgba(204,204,204,1);
	font-family: "ropa_sansregular", Helvetica, sans-serif;
	font-size: 2em;
	color: rgba(77,77,77,1);
	overflow: auto;
	padding-left:1%;
	padding-top:2%;
}
#admin_infoToModif ul{
	width:100%;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
#admin_infoToModif li{
	padding:12px; 
    border-bottom:1px solid #eee;
    position:relative;
    overflow: hidden;
}
#admin_infoToModif label {
    min-width:15%;
    max-width:50%;
    font-size: 1em;
    margin-top: 1%;
    display:inline-block;
    float:left;
    overflow: hidden;
 }
 #admin_infoToModif input, #admin_infoToModif textarea {
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s;
    padding-right:30px;
    color: rgba(77,77,77,1);
}
#admin_infoToModif input,#admin_infoToModif select{
	margin-left:1%;
	height:40px; 
    width:25%; 
    padding:5px 8px;

    font-size: 0.8em;
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
#admin_infoToModif textarea {
	font-size: 0.7em;
	margin-left:1%;
	padding:8px;
	width:50%;
	border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
#admin_infoToModif input:focus, #admin_infoToModif textarea:focus{
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
}
input:required, textarea:required {
	background: #fff url(icons/red_asterisk.svg) no-repeat 98% center;
	background-size: auto 80%;
}
#admin_infoToModif input:focus:invalid, #admin_infoToModif textarea:focus:invalid { /* when a field is considered invalid by the browser */
    background: #fff url(icons/invalid.svg) no-repeat 98% center;
    background-size: auto 100%;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
#admin_infoToModif input:required:valid, #admin_infoToModif textarea:required:valid { /* when a field is considered valid by the browser */
    background: #fff url(icons/valid.svg) no-repeat 98% center;
    background-size: auto 100%;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.form_hint {
	font-size: 0.7em;
    border-color: rgba(212,82,82,1);
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left:15px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    display: none;
}
.form_hint::before {
    content: "\25C0"; /* left point triangle in escaped unicode */
    color: rgba(123,123,123,0.9);
    position: absolute;
    top:1px;
    left:-10px;
}
#admin_infoToModif input:focus + .form_hint {display: inline;}
#admin_infoToModif input:required:valid + .form_hint {background: rgba(123,123,123,1);}
#admin_infoToModif input:required:valid + .form_hint::before {color: rgba(123,123,123,1);}
#admin_infoToModif textarea:focus + .form_hint {display: inline;}
#admin_infoToModif textarea:required:valid + .form_hint {background: rgba(123,123,123,1);}
#admin_infoToModif textarea:required:valid + .form_hint::before {color: rgba(123,123,123,1);}
#admin_imgToModif{
	width: 35%;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

#admin_validIt{
	width: 100%;
	background-color: rgba(255,255,255,1);
	border-top: solid 1px rgba(204,204,204,1);
	overflow: hidden;	
}
.cancelButton, .validateButton{
	margin-top:3%;
	border: none;
	background-color: Transparent;
	background-repeat: no-repeat;
	background-position: center center;
    cursor: pointer;
    outline: none;
	width:80px;
	height:80px;
	background-size: auto 100%;
	z-index: 4000;
}

.cancelButton{
	float:left;
	margin-left:40%;
	background-image: url('icons/cancel.svg');
}
.validateButton{
	float:right;
	margin-right:40%;
	background-image: url('icons/validate.svg');	
}