@font-face {
    font-family: 'ropa_sansregular';
    src: url('../fonts/ropasans/ropasans-regular-webfont.eot');
    src: url('../fonts/ropasans/ropasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ropasans/ropasans-regular-webfont.woff2') format('woff2'),
         url('../fonts/ropasans/ropasans-regular-webfont.woff') format('woff'),
         url('../fonts/ropasans/ropasans-regular-webfont.ttf') format('truetype'),
         url('../fonts/ropasans/ropasans-regular-webfont.svg#ropa_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
#admin_about{
    font-family: "ropa_sansregular", Helvetica, sans-serif;
    font-size: 1.2em;
}
#admin_about header{
    text-align: justify;
    background-color: rgba(77,77,77,0.1);
    border-top: solid 1px rgba(204,204,204,1);
    border-left: solid 2px rgba(152,191,218,1);
}
#admin_about header.is-active{
    background-color: rgba(161, 232, 255, 0.3);
}
#admin_about h4{
    text-align: center;
    font-weight: bold;
}
#admin_about h5{
    text-align: center;
    font-weight: bold;
    font-size: 0.7em;
}
#admin_about h6{
    text-align: left;
    text-decoration: underline;
}