.admin_setting_window{
	width: 100%;
	color: rgba(77,77,77,1);
	font-family: "ropa_sansregular", Helvetica, sans-serif;	
	outline:none;
	overflow: hidden;
}
#admin_setting{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	z-index: 1500;
	overflow-y: auto;
}
.data_case{
	float:left;
}
#admin_setting .data_case{
	width:45%;
}
#admin_setting h3{
	text-align: center;
}
#admin_setting .data_case{
	margin-left:3%;
}
#admin_setting input{
	float:left;
	width:30%;
	text-align: center;
	border: solid 2px rgba(77,77,77,0.3);
	font-family: "ropa_sansregular", Helvetica, sans-serif;
	font-size:2em;	
	outline:none;
	overflow: hidden;
	cursor: default;
}
.modify_switch{
	width:20%;
	text-align: center;
	border: solid 2px rgba(77,77,77,0.3);
	font-family: "ropa_sansregular", Helvetica, sans-serif;
	font-size:1em;	
	outline:none;
	overflow: hidden;
	cursor: pointer;
}
#admin_setting .modify_setting{
	float:none;
	background-image: url('icons/modify.svg');
	background-size: auto 100%;	
	background-color: Transparent;
	background-repeat: no-repeat;
	background-position: center center;
	border: none;
	cursor: pointer;
}
#admin_user{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(77,77,77,0.3);
	border-top: solid 1px rgba(77,77,77,0.7);
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	-webkit-box-shadow: 0px 4px 6px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 6px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 6px 3px rgba(0,0,0,0.75);
	overflow: hidden;
}
#admin_infographics{
	width:49%;
	float:left;
	padding: 1%;
	border-right: solid 1px rgba(77,77,77,0.7);
	overflow: hidden;
}
#admin_user_data{
	width:49%;
	float:right;
	padding: 1%;
	font-size: 1.5em;
	line-height: 1.5em;
	overflow: hidden;
}
#admin_user .data_case{
	width:45%;
}
.data_case#modify{
	width:10%;
	border: none;
	background-color: Transparent;
	background-repeat: no-repeat;
	background-position: center center;
    cursor: pointer;
    outline: none;
	background-size: 90% auto;
	background-position: center center;
	background-image: url('icons/modify.svg');
}
#passChange{
	width:50%;
	border: none;
	background-color: Transparent;
	background-repeat: no-repeat;
	background-position: center center;
    cursor: pointer;
    outline: none;
	background-size: auto 100%;
	background-position: top left;
	background-image: url('icons/pass.svg');	
}
#admin_space_chart{
	width: 100%;
	height: 200px;
}